.modules {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #F3FCF0;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #41675f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.modules-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    text-align: start;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        padding: 20px;
        border-radius: 5px;
        background-color: #6facbd;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #41675f;
        }
    }
}

.eval-link {
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    text-decoration: none;
}


#file-upload {
    display: none;
}

.custom-file-upload {
    display: flex;
    width: 120px;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #6facbd;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.modules-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;

    h4 {
        color: #fff;
    }

    div {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 70%;
        gap: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #6facbd;
        }
    }
}